@import 'navbar';

$brand-color: white;
$h1-color: red;

html{
	font-size: 62.5%;
}

body{
	background-color: $brand-color;
}

a {
	decoration: none;
}


li{
	font-weight: 500;
}

.loginForm{
	position: absolute;
	top: 50%;
	left: 50%;
	h1{
		font-size: 2em;
		color: h1-color;
	}
}

.fromTop{
	margin-top: 5rem;
}

.logo{
	color: green;
	font-size:3rem;
}

.app-body{
	margin-top: 50px;
}

